{% extends 'base.html.twig' %}

{% block title %}List of Books{% endblock %}

{% block body %}
    <h1>List of Books</h1>

    {% if publishedBooks is empty %}
        <p>No Books found.</p>
    {% else %}
        <table style="border-collapse: collapse; width: 100%;">
            <thead>
            <tr>
                <th style="border: 1px solid black; padding: 8px;">Title</th>
                <th style="border: 1px solid black; padding: 8px;">Publication Date</th>
                <th style="border: 1px solid black; padding: 8px;">Published</th>
                <th style="border: 1px solid black; padding: 8px;">Category</th>
                <th style="border: 1px solid black; padding: 8px;">Author</th>
            </tr>
            </thead>
            <tbody>
            {% for book in publishedBooks %}
                <tr>
                    <td style="border: 1px solid black; padding: 8px;">{{ book.title }}</td>
                    <td style="border: 1px solid black; padding: 8px;">{{ book.publicationDate ? book.publicationDate|date('F j, Y H:i') : 'N/A' }}</td>
                    <td style="border: 1px solid black; padding: 8px;">{{ book.published ? 'Yes' : 'No' }}</td>
                    <td style="border: 1px solid black; padding: 8px;">{{ book.category }}</td>
                    <td style="border: 1px solid black; padding: 8px;">{{ book.author ? book.author.username : 'Unknown' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <p>Number of published books: {{ publishedBooksCount }}</p>
    <p>Number of unpublished books: {{ unpublishedBooksCount }}</p>

    <a href="{{ path('app_book_add') }}">Create new book</a>
{% endblock %}
